.flickr-list {
	display: flex;
	width: auto;
}

.flickr-list-column {
	background-clip: padding-box;

	.flickr-photo {
		margin-bottom: 2rem;
	}
}

.load-more {
	margin: auto;
	display: block;
}

.box {
	width: 200px;
	height: 200px;
}

@media (min-width: 992px) {
	.flickr-list {
		margin-left: -1rem; /* gutter size offset */
	}
	.flickr-list-column {
		padding-left: 2rem; /* gutter size */
	}
}