.flickr-list {
	display: flex;
	margin-left: -1rem; /* gutter size offset */
	width: auto;
}

.flickr-list-column {
	padding-left: 2rem; /* gutter size */
	background-clip: padding-box;

	.flickr-photo {
		margin-bottom: 2rem;
	}
}

.load-more {
	margin: auto;
	display: block;
}

.box {
	width: 200px;
	height: 200px;
}