---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Sidebar from '@/components/Sidebar.astro';
import { getCountryData } from '@/helpers/ebird';
import overview from '../../lifelist/overview.json';

const countryData = await getCountryData();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About | RawComposition.com" description="About Adam Jackson, bird photographer" />
	</head>
	<body>
		<Header />
		<div class="mx-auto max-w-[1200px] px-4 flex flex-col md:flex-row gap-8">
			<div class="flex-1 p-12 bg-white mb-4 prose prose-headings:font-heading prose-headings:text-neutral-600 prose-a:text-[#f4793d] prose-img:mt-0 prose-hr:my-8 max-w-full">
				<h1 class="font-heading text-neutral-600 text-4xl mb-8">G'day, mates 👋</h1>
				<img
					src="/me.jpg"
					alt="Photo of Adam Jackson and his wife"
					width="200"
					class="float-right p-2 border border-gray-200 mb-4 ml-4"
				/>
				<p>
					I'm a web developer that loves chasing rare birds around world. I developed an interest in bird photography
					at the age of 12 while living in Tasmania and started getting more serious about birding in 2016.
				</p>
				<p>
					Photography has alwasy been an important part of birding for me, so in order to record a species on my life
					list I like to make sure I have a picture (or at least a good audio recording). There's a few situations
					where that didn't happen, but most of the time it works out :)
				</p>
				<p>
					My goal is to photograph 5,000 species of birds in my lifetime, while keeping my birding adventures to a
					reasonable budget.
				</p>
				<p>
					<strong class="text-neutral-600">View my progress</strong>
					<br />
					<a href={`/lifelist/${overview.years[0]}`}>World Life List</a>
					<br />
					<a href="/families">Taxonomic Families</a>
					<br />
					<a href="https://ebird.org/profile/NzMwMzI1/world" target="_blank" rel="noopener noreferrer">
						View my eBird profile
					</a>
				</p>
				<hr />
				<p>
					Want to get in touch? Contact me via email:{' '}
					<a href="mailto:adam@rawcomposition.com">adam@rawcomposition.com</a>
				</p>
			</div>
			<Sidebar countryData={countryData} />
		</div>
	</body>
</html>
