---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import TripItem from '../components/TripItem.astro';
import Sidebar from '../components/Sidebar.astro';
import { getTrips, countTrips } from '../helpers/trips';
import { getCountryData } from '../helpers/ebird';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const trips = await getTrips(1);
const total = await countTrips();
let countryData = await getCountryData();
if (!countryData || countryData.length === 0) {
	countryData = [];
}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} | Photography by Adam Jackson`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="mx-auto max-w-[1050px] px-4 flex flex-col sm:flex-row gap-8">
			<div class="flex-1 sm:min-w-[380px]">
				<h1 class="text-3xl font-heading font-bold text-neutral-600 mb-8 -mt-2">Trip Reports</h1>
				{trips.map((trip) => (
					<TripItem {...trip} />
				))}
				{trips.length < total && (
					<button
						disabled
						class="bg-[#f4793d] text-white py-2 px-8 mb-8 mx-auto block"
					>
						Load More
					</button>
				)}
			</div>
			<Sidebar countryData={countryData} />
		</div>
	</body>
</html>
