* {
	box-sizing: border-box;
}

body {
	background: #eee;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 2rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-anchor: none;
}

hr {
	border: none;
	border-top: solid 1px #eee;
	clear: both;
	margin: 1rem 0;
}

p {
	margin-top: 0;
}

a, a:active, a:hover, a:visited {
	color: #f4793d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', sans-serif;
}

.mt {
	margin-top: 2.5rem;
}

.button {
	background: #f4793d;
	color: white;
	padding: .6rem 2rem;
	border: none;
	cursor: pointer;
	outline: none;

	&.disabled {
		pointer-events: none;
		background: #ffa477;
	}
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

.content.page {
	background: white;
	color: #636467;
	padding: 3rem;

	h1 {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.content.page {
		padding: 2rem;
	}
}

@media (max-width: 450px) {
	.content.page {
		padding: 1rem;

		h1 {
			text-align: center;
		}
	}
}

.page-wrapper {
	display: flex;

	.content {
		flex: 1;
	}

	.sidebar {
		width: 33%;
	}
}

.country-totals {
	color: #555;

	ol {
		padding: 0;
		margin: 0;
		
		li {
			padding: 7px;
			display: flex;
			justify-content: space-between;
	
			&:nth-child(odd) {
				background: #f9f9f9;
			}
		}
	}

	.expand {
		text-align: center;
		color: #f4793d;
		cursor: pointer;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		padding: 7px;
	}

	&[open] .expand {
		display: none;
	}

	summary {
		position: relative;
	}

	::marker {
		display: none;
		content: "";
	}
}

@media (max-width: 768px) {
	.page-wrapper {
		display: block;

		.sidebar {
			width: 100% !important;
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}

.bio-image {
	float: right;
	border: solid 1px #eee;
	padding: 5px;
	max-width: 200px;
	width: 100%;
	margin-left: 1rem;
}

.load-more {
	margin: auto;
	display: block;
}

.flickr-photo {
	width: 100%;
	margin-bottom: 2rem;

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	.content {
		background: white;
		padding: 1rem 3rem 2rem 3rem;
		font-size: 14px;
		line-height: 24px;
		color: #636467;

		h2 {
			color: #3c3c3c;
			font-size: 1rem;
		}
	}
}

.main-header {
	background: #363636;
	color: #eee;
	padding: 1.3rem 0;
	margin-bottom: 3rem;
	
	.container {
		display: flex;
	}

	.logo {
		display: flex;
		font-size: 2.1rem;
		font-weight: bold;
		font-family: "Roboto Slab", sans-serif;
		line-height: 1.5rem;
		align-items: center;

		img {
			margin-right: .5rem;
		}
	}

	nav {
		margin-left: auto;
		display: flex;
		align-items: center;

		a {
			margin-left: 2rem;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .7rem;
		}
	}

	a {
		color: #eee !important;
		text-decoration: none;
	}
}

@media (max-width: 768px) {
	.main-header {
		.container {
			display: block;
		}

		nav {
			margin-top: 1rem;
		}
	}
}

@media (max-width: 360px) {
	.logo {
		font-size: 1.5rem !important;
	}
}

.sidebar {
	background: #fff;
	padding: 2.5rem;
	font-size: 14px;
	margin-left: 2rem;
	align-self: flex-start;

	h3, h4, h5 {
		color: #636467;
		text-transform: uppercase;
	}

	p {
		color: #888; 
		font-size: .85rem;
	}

	a {
		color: #f4793d;
		text-decoration: none;
	}
}

.bio {
	text-align: center;
	margin-bottom: 3rem;

	h4 {
		margin-bottom: .5rem;
	}

	.avatar {
		width: 150px;
		border-radius: 50%;
	}
}

.lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	color: white;

	img {
		height: auto;
		max-width: 100%;
		max-height: calc(100vh - 90px);
	}

	.close {
		position: absolute;
		top: 10px;
		right: 20px;
		background: none;
		cursor: pointer;
		border: none;
		outline: none;
		color: white;
		font-size: 2.5rem;
		font-weight: bold;
	}
}

@media (max-width: 650px) {
	.lightbox {
		.close {
			right: 15px;
		}
	}
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	color: #ffffff;
	font-size: 10px;
	margin: auto;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.lifelist-species {
	padding-bottom: 12px;

	.images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

.page.lifelist h1 {
	margin-bottom: 0;
}

.species-total {
	font-weight: bold;
	color: #999;
}

.actions {
	display: flex;
	justify-content: space-between;

	button {
		border: none;
		cursor: pointer;
		outline: none;
		padding: .25rem 1rem;
		border-radius: 999px;
		font-size: 1.2rem;
		font-weight: bold;
		color: #555;
		background: transparent;

		&.active {
			background: #eee;
		}

		&.search-toggle {
			padding: .25rem .7rem;
			
			svg {
				width: .85rem;
			}
		}
	}
	
	.divider {
		margin: 0 18px;
		border-left: solid 1px #eee;
	}
}

.lifelist-search {
	width: 100%;
	border-radius: 6px;
	border: solid 1px #eee;
	padding: 8px;
	margin: 16px 0 8px;
	outline: 0;
	display: none;

	&:focus {
		border-color: #ccc;
	}
}

.inline-lifelist-search {
    border: solid 2px #eee;
    border-left: 0;
    height: 100%;
    margin-left: 0;
    outline: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: transparent;
    padding-left: 23px;
	vertical-align: bottom;
	width: 0;
	margin-left: -25px;
	transition: 500ms all;
	cursor: pointer;

	&:focus, &:not(:placeholder-shown) {
		margin-left: -15px;
		width: 180px;
		cursor: text;
	}
}

@media (max-width: 450px) {
	.lifelist-species .images {
		grid-template-columns: 1fr;
		grid-gap: 15px;
	}

	.actions {
		display: block;
		line-height: 2.5;
		margin-top: 1rem;
		text-align: center;
	}
}
@media (max-width: 768px) {
	.lifelist-search {
		display: block;
	}
	.inline-lifelist-search, .search-toggle, .actions .divider {
		display: none;
	}
}
