.flickr-photo {
	width: 100%;

	img {
		max-width: 100%;
		display: block;
	}

	.content {
		background: white;
		padding: 1rem 3rem 2rem 3rem;
		font-size: 14px;
		line-height: 24px;
		color: #636467;

		h2 {
			color: #3c3c3c;
			font-size: 1rem;
		}
	}
}