.lifelist-species {
	.images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
		min-height: 107px;

		img {
			width: 100%;
		}
	}
}

.page.lifelist h1 {
	margin-bottom: 0;
}

.species-total {
	font-weight: bold;
	color: #999;
}

.actions {
	display: flex;
	justify-content: space-between;

	button {
		border: none;
		cursor: pointer;
		outline: none;
		padding: .25rem 1rem;
		border-radius: 999px;
		font-size: 1.2rem;
		font-weight: bold;
		color: #555;
		background: transparent;

		&.active {
			background: #eee;
		}

		&.search-toggle {
			padding: .25rem .7rem;
			
			svg {
				width: .85rem;
			}
		}
	}
	
	.divider {
		margin: 0 18px;
		border-left: solid 1px #eee;
	}
}

.lifelist-search {
	width: 100%;
	border-radius: 6px;
	border: solid 1px #eee;
	padding: 8px;
	margin: 16px 0 8px;
	outline: 0;
	display: none;

	&:focus {
		border-color: #ccc;
	}
}

.inline-lifelist-search {
    border: solid 2px #eee;
    border-left: 0;
    height: 100%;
    margin-left: 0;
    outline: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: transparent;
    padding-left: 23px;
	vertical-align: bottom;
	width: 0;
	margin-left: -25px;
	transition: 500ms all;
	cursor: pointer;

	&:focus, &:not(:placeholder-shown) {
		margin-left: -15px;
		width: 180px;
		cursor: text;
	}
}

@media (max-width: 450px) {
	.lifelist-species .images {
		display: block;
	}

	.actions {
		display: block;
		line-height: 2.5;
		margin-top: 1rem;
		text-align: center;
	}
}
@media (max-width: 768px) {
	.lifelist-search {
		display: block;
	}
	.inline-lifelist-search, .search-toggle, .actions .divider {
		display: none;
	}
}