.lifelist-species {
	.images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
		min-height: 107px;

		img {
			width: 100%;
		}
	}
}

.page.lifelist h1 {
	margin-bottom: 0;
}

.species-total {
	font-weight: bold;
	color: #999;
}

.actions {
	display: flex;
	justify-content: space-between;

	button {
		border: none;
		cursor: pointer;
		outline: none;
		padding: .25rem 1rem;
		border-radius: 999px;
		font-size: 1.2rem;
		font-weight: bold;
		color: #555;
		background: transparent;

		&.active {
			background: #eee;
		}
	}
}

@media (max-width: 440px) {
	.lifelist-species .images {
		display: block;
	}
}