---
import BaseLayout from "../layouts/base.astro";
import FlickrItem from "../components/flickr-item.jsx";
import FlickrMore from "../components/flickr-more.jsx";
import Sidebar from "../components/sidebar.astro";
import { getPhotos } from "../helpers/flickr.js";
const data = await getPhotos();
const photos = data.photo;
---
<BaseLayout>
	<div class="container flex gap-8 max-w-[1050px]">
		<div class="flex-1">
			{photos.map(photo => {
				return <FlickrItem item={photo}/>
			})}
			<FlickrMore client:visible/>
		</div>
		<Sidebar/>
	</div>
</BaseLayout>