---
import BaseLayout from "../layouts/base.astro";
import Lifelist from "../components/lifelist.jsx";
import speciesPhotos from "../../public/lifelist_date_sorted.json";
---
<style>
	
</style>
<BaseLayout title="World Life List | RawComposition.com">
	<div class="container page-wrapper">
		<div class="content">
			<Lifelist total={speciesPhotos.length} initialItems={speciesPhotos.slice(0,20)} client:load/>
		</div>
	</div>
</BaseLayout>