.main-header {
	background: #363636;
	color: #eee;
	padding: 1.3rem 0;
	margin-bottom: 3rem;
	
	.container {
		display: flex;
	}

	h1 {
		margin: 0;
		font-size: 2.1rem;
		line-height: 1;
	}

	.logo {
		display: flex;
		align-items: center;

		img {
			margin-right: .5rem;
		}
	}

	nav {
		margin-left: auto;
		display: flex;
		align-items: center;

		a {
			margin-left: 2rem;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .7rem;
		}
	}

	a {
		color: #eee !important;
		text-decoration: none;
	}
}