<header class="main-header">
	<div class="container">
		<a href="/" class="logo">
			<img src="/logo.png" alt="" width="40" height="40"/>
			<span>RawComposition</span>
		</a>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/lifelist/">Life list</a>
		</nav>
	</div>
</header>