<header class="bg-neutral-800/95 text-gray-200 py-4 mb-12">
	<div class="container sm:flex">
		<a href="/" class="flex text-[33px] font-bold items-center font-heading">
			<img src="/logo.png" alt="" width="40" height="40" class="mr-2"/>
			<span>RawComposition</span>
		</a>
		<nav class="ml-3 mt-2 sm:mt-0 sm:ml-auto flex items-center gap-8 uppercase font-bold text-[0.7rem]">
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/lifelist/">Life list</a>
		</nav>
	</div>
</header>