---
import Header from "../components/header.astro";
import Sidebar from "../components/sidebar.astro";
import "../styles/global.css";
const { title, content } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{(title || content?.title) || "RawComposition | Photography by Adam Jackson"}</title>
	<link rel="icon" href="/favicon.png"/>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<Header/>
	{ content ?
		<div class="container page-wrapper">
			<div class="content page">
				<slot/>
			</div>
			<Sidebar/>
		</div>
	: <slot/>}
</body>
</html>
